@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    /* Primary Color */

    --green: hsl(75, 94%, 57%);

    /* Neutral Colors */

    --white:  hsl(0, 0%, 100%);
    --grey: hsl(0, 0%, 20%);
    --dark-grey: hsl(0, 0%, 12%);
    --off-black: hsl(0, 0%, 8%);
}

*,::before,::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Inter", sans-serif;
    background-color: var(--off-black);
    color: var(--white);
    height: 100vh;
    display: flex;
    align-items: center;
}

main {
    width: min(100% - 2rem, 375px);
    background: var(--dark-grey);
    padding: 1.25rem;
    margin: 0 auto;
    border-radius: 1rem;
}

main section img {
    width: 30%;
    border-radius: 50%;
}

main section {
    text-align: center;
}

main section h1 {
    font-size: 1.75rem;
    font-weight: 400;
    padding-top: 1rem;
}

main section p {
    color: var(--green);
    font-weight: 600;
    padding: 1rem;
    text-shadow: 0px 0px 1px var(--white);
}

main section p:nth-child(4) {
    color: var(--white);
    font-weight: 400;
    text-shadow: none;
}

main section ul {
    margin: .25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

main section ul li {
    list-style-type: none;
    width: 100%;
    padding: .5rem;
}

main section ul li a {
    border-radius: .5rem;
    text-align: center;
    display: block;
    color: var(--white);
    background-color: var(--grey);
    text-decoration: none;
    padding: 1rem;
    font-weight: 700;
}

main section ul li a:hover{ 
    background-color: var(--green);
    color: var(--off-black);
    font-weight: 700;
}